<ng-container *ngIf="is_loaded">
  <ng-container *ngFor="let _ of [].constructor(max_lives); let i = index">
    <svg:g>
      <ng-container
        *ngIf="(max_lives - i) <= current_lives; then filled; else empty"
      ></ng-container>
      <ng-template #filled>
        <svg:image href="/assets/icons8-pixel-heart-filled-48.png" width="20" height="20" [attr.x]="getPositionX(i)" [attr.y]="getPositionY(i)"></svg:image>
      </ng-template>
      <ng-template #empty>
        <svg:image href="/assets/icons8-pixel-heart-48.png" width="20" height="20" [attr.x]="getPositionX(i)" [attr.y]="getPositionY(i)"></svg:image>
      </ng-template>
    </svg:g>
  </ng-container>
</ng-container>
