<div
  *ngIf="map"
  class="w-100 h-100 d-flex align-items-center justify-content-center"
  [ngStyle]="{
    background: 'repeat url(' + resourcesUrl + map.background_filler_image + ')'
  }"
>
  <div
    class="position-relative"
    [ngStyle]="map.containerStyleClass"

  >
    <img
      src="{{ resourcesUrl }}{{ map.background_image }}"
      class="h-100 w-100 d-block"
    />
    <svg
      class="w-100 h-100 position-absolute top-0 start-0"
      [attr.viewBox]="map.viewBox"
    >
      <circle [attr.cx]="position.x" [attr.cy]="position.y" r="5" />
    </svg>
  </div>
</div>
