<div
  *ngIf="game.map"
  class="w-100 h-100 d-flex align-items-center justify-content-center"
  [ngStyle]="{
    background:
      'repeat url(' + resourcesUrl + game.map?.background_filler_image + ')'
  }"
  (click)="onClick($event)"
>
  <div class="position-relative" [ngStyle]="game.map.containerStyleClass">
    <img
      src="{{ resourcesUrl }}{{ game.map.background_image }}"
      class="h-100 w-100 top-0 start-0"
    />
    <svg
      class="w-100 h-100 position-absolute top-0 start-0"
      [attr.viewBox]="game.map.viewBox"
      #map
    >
      <g app-life></g>
      <g app-enemy></g>
      <g app-structure></g>
    </svg>
    <div class="w-100 h-100 position-absolute top-0 start-0">
      <app-ping class="position-absolute top-0 start-0"></app-ping>
    </div>
  </div>
</div>
