<div
  *ngIf="map && game"
  class="w-100 h-100 d-flex align-items-center justify-content-center"
  [ngStyle]="{
    background:
      'repeat url(' +
      resourcesUrl +
      map.background_filler_image +
      ')'
  }"
  (click)="onClick($event)"
>
  <div
    class="position-relative"
    [ngStyle]="map.containerStyleClass"
  >
    <img
      src="{{ resourcesUrl }}{{ map.background_image }}"
      class="h-100 w-100 top-0 start-0"
    />
    <canvas
      #canvas
      (click)="onClick($event)"
      class="w-100 h-100 position-absolute top-0 start-0"
      [attr.width]="map.size.x"
      [attr.height]="map.size.y"
    ></canvas>
    <div class="w-100 h-100 position-absolute top-0 start-0 zindex-dropdown">
      <app-ping class="position-absolute top-0 start-0"></app-ping>
      <app-structure-shop #shop class="position-absolute w-100 bottom-0 start-0"></app-structure-shop>
      <app-structure-info #info class="position-absolute top-50 end-0 translate-middle-y"></app-structure-info>
    </div>
  </div>
</div>
